<nav class=" navbar bg-body-tertiary navbar bg-dark border-bottom border-body" data-bs-theme="dark" height="900">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://us.123rf.com/450wm/aiart30/aiart302303/aiart30230308128/201206072-letter-g-sign-design-template-element-vector-black-icon-on-a-white-background.jpg?ver=6" alt="Logo" width="35" height="25" class="d-inline-block align-text-top">
       <span>ENERAL QUIZ</span>
      </a>
    </div>
  </nav>